.main_div{
    border-radius: 30px;
    background-color: rgb(48, 7, 7);
    color: white;
}

.next_btn{
    border-radius: 50px;
}

.text{

    background-color: cyan;
}

.sub_btn{
    border-radius: 40px;
}


